<div class="container-fluid" style="background-color:black">
    <div class="row">
        <div class="col-md-3">
            <p style="text-decoration: solid;">Docter Care</p>
            <p>A-103 Orchid Serenity Baner Pune Maharashtra 411045</p>
            <P style="text-decoration: solid;">Email: <span>Skolekar157@gmail.com</span></P>

            <p style="text-decoration: solid;">Phone NO: 7011528481</p>

        </div>
        <div class="col-md-3">
            <p>Useful Links</p>
            <p><a href="#" routerLink="home" style="color:blue">Home</a></p>
            <p><a href="#" routerLink="aboutus" style="color:blue">About Us</a></p>

            <p> <a href="#" routerLink="appointment" style="color:blue">Appointment</a></p>
            <p><a href="#" routerLink="contact" style="color:blue">contactus</a></p>
        </div>
        <div class="col-md-3">
            <p>Our Services</p>
            <p style="color:blue">Genral Physician</p>
            <p style="color:blue">Dentist</p>
            <p style="color:blue">gaynocologist</p>
            <p style="color:blue">Special Tretment</p>
        </div>
        <div class="col-md-3">
            <p>Our Brances</p>
            <p>Delhi</p>
            <p>Pune</p>
            <p>Mumbai</p>
            <p>jaipur</p>
            
             
                
        </div>
    </div>
</div>