<div class="section-heading text-center">
    <h2 class="h-bold" style="text-align: center;">Our facilities</h2>
    <p>The workload of a health facility is often used to indicate its size. Large health facilities are those with a greater patient load.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/f6.PNG">
        </div>
        <div class="col-md-2">

        </div>

        <div class="col-md-2">
            <img src="assets/images/f9.PNG" >
        </div>
        <div class="col-md-2">
            
        </div>
        
        <div class="col-md-2">
            <img src="assets/images/f5.PNG" >
        </div>
        <div class="col-md-1">
            
        </div>
        
        
        
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-2">
            <img src="assets/images/f6.PNG">
        </div>
        <div class="col-md-2">

        </div>

        <div class="col-md-2">
            <img src="assets/images/f9.PNG" >
        </div>
        <div class="col-md-2">
            
        </div>
        
        <div class="col-md-2">
            <img src="assets/images/f5.PNG" >
        </div>
        <div class="col-md-1">
            
        </div>
        
        
        
    </div>

</div>
