<section id="departments" class="departments" style="padding-left: 40px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title" style="padding-top: 30px;">
        <h2 class="h1" style="text-align: center;">Departments</h2>
        <p>A doctor's visit, also known as a physician office visit or a consultation, or a ward round in an inpatient care context, is a meeting between a patient with a physician to get health advice or treatment plan for a symptom or condition, most often at a professional health facility such as a doctor's office, clinic or hospital.</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                <h4>Cardiology</h4>
                <p> Physicians who specialize in this field of medicine are called cardiologists.</p>
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" data-toggle="tab" href="#tab-2">
                <h4>Neurology</h4>
                <p>Is a branch of medicine dealing with disorders of the nervous system..</p>
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" data-toggle="tab" href="#tab-3">
                <h4>Hepatology</h4>
                <p>Hepatology is the branch of medicine that incorporates the study of liver.</p>
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" data-toggle="tab" href="#tab-4">
                <h4>Pediatrics</h4>
                <p>Is the branch of medicine that involves the medical care of infants, children, and adolescents.</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <h3>Cardiology</h3>
              <p class="font-italic">is the branch of medicine that involves the medical care of infants, children, and adolescents.</p>
              <img src="assets/departments-1.jpg" alt="" class="img-fluid">
              <p>Already Hippocrates, Aristotle, Celsus, Soranus, and Galen[5] understood the differences in growing and maturing organisms that necessitated different treatment: Ex toto non sic pueri ut viri curari debent</p>
            </div>
            <div class="tab-pane" id="tab-2">
              <h3>Neurology</h3>
              <p class="font-italic">is the branch of medicine that involves the medical care of infants, children, and adolescents.</p>
              <img src="assets/departments-2.jpg" alt="" class="img-fluid">
              <p>Already Hippocrates, Aristotle, Celsus, Soranus, and Galen[5] understood the differences in growing and maturing organisms that necessitated different treatment: Ex toto non sic pueri ut viri curari debent</p>
            </div>
            <div class="tab-pane" id="tab-3">
              <h3>Hepatology</h3>
              <p class="font-italic">is the branch of medicine that involves the medical care of infants, children, and adolescents.</p>
              <img src="assets/departments-3.jpg" alt="" class="img-fluid">
              <p>Already Hippocrates, Aristotle, Celsus, Soranus, and Galen[5] understood the differences in growing and maturing organisms that necessitated different treatment: Ex toto non sic pueri ut viri curari debent</p>
            </div>
            <div class="tab-pane" id="tab-4">
              <h3>Pediatrics</h3>
              <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
              <img src="assets/departments-4.jpg" alt="" class="img-fluid">
              <p>Already Hippocrates, Aristotle, Celsus, Soranus, and Galen[5] understood the differences in growing and maturing organisms that necessitated different treatment: Ex toto non sic pueri ut viri curari debent</p>
            </div>
            <img src="http://pngimg.com/uploads/doctor/small/doctor_PNG15988.png">
          </div>
        </div>
      </div>

    </div>
  </section>
