
 /* Non relevant styles */
/* * {
  box-sizing: border-box;
} */

.container {
  padding: 100px 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
} 

 /* Relevant styles */

img {
  width: 100%;
  display: block;
  
}

.image-stack::after {
    content: ' ';
    display: table;
    clear: both;
  }

  .image-stack__item--top {
      float: left;
      width: 66%;
      margin-right: -100%;
      position: relative;
      z-index: 1; 
      height: 300px;
  }

  .image-stack__item--bottom {
      float: right;
      width: 75%;
      
  }

@supports (display: grid) {
  .image-stack {
    display: grid;
    position: relative;  
    grid-template-columns: repeat(12, 1fr);
    
  }

  .image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;
    width: 120%;

  }

  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 70%; 
    width: 130%;
  }
}