<div class="section-title">
    <h2 class="h1" style="text-align: center;"> Pricing</h2><hr>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
  </div>
<section class="pricing py-5">
    
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
              <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
              <hr>
              <ul>
                <li>Treatement</li>
                <li>all blood test</li>
                <li> full body cheakup</li>
                <li>Service </li>
  
                <li class="na">Pharmacy</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Speacial Treatment</h5>
              <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
              <hr>
              <ul>
                <li>all blood test</li>
                <li>full body cheakup</li>
                <li>Men full Package Blood test</li>
                <li>Men full Package blood test</li>
                <li class="na">Pharmacy</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Advance Treatment</h5>
              <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
              <hr>
              <ul>
                <li>all blood test</li>
                <li>full body cheakup</li>
                <li>Men full Package Blood test</li>
                <li>Men full Package blood test</li>
                <li class="na">Pharmacy</li>
            </ul>
              <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>