<div class="container-fluid" style="padding-left: 40px;padding-top: 0%;"><br><br>
    <h2 class="h2" style="text-align: center;" >Location</h2><hr>
    <div class="row">
        <div class="col-md-6"  style="padding-top: 40PX;">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="100%" height="395" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=rubby&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://123movies-to.org"></a><br>
                        <!-- <a href="https://www.embedgooglemap.net">google maps iframe options</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-6" style="text-align: center;">
            <h4><u>Address:</u></h4><br>
            <p>304,C Wing,Behind Trimurti Hospital,<br> Dhyayri Chowk, Pune-411052</p><br>
            <h4><u>Other Branches:</u></h4><br>
            <table class="table table-bordered">
                <thead>
                    <!-- <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr> -->
                </thead>
                <tbody>
                    <tr>
                        <!-- <th scope="row"></th> -->
                        <td>Ahemdabad</td>
                        <td>Delhi</td>
                        <td>Indore</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">2</th> -->
                        <td>Banglore</td>
                        <td>Chennai</td>
                        <td>Bhopal</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">3</th> -->
                        <td>Thane</td>
                        <td>Navi Mumbai</td>
                        <td>Kalyan</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">3</th> -->
                        <td>Ahemdabad</td>
                        <td>Banglore</td>
                        <td>Surat</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">3</th> -->
                        <td>Kolkata</td>
                        <td>Karnataka</td>
                        <td>Hydrabad</td>
                    </tr>

                </tbody>
            </table>


        </div>


    </div>
</div>