
<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="#" class="navbar-brand">
        <img src="assets/images/doc.PNG" height="45" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" routerLink="home" class="nav-item nav-link active" style="color: white;">Home</a>
            <a href="#" routerLink="aboutus" class="nav-item nav-link active" style="color: white;">About Us</a>
            <a href="#" routerLink="component1" class="nav-item nav-link" style="color: white;">Service</a>
            <a href="#" routerLink="appointment"class="nav-item nav-link" style="color: white;">Appointment</a>
            <a href="#"routerLink="contact" class="nav-item nav-link" style="color: white;">contactus</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link" style="color: white;">Login</a>
        </div>
    </div>
</nav>

<app-sidebar></app-sidebar>
<app-footer></app-footer>