<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"style="background-color:grey;height: auto;">
            <!-- <div class="w3-sidebar w3-light-grey w3-bar-block"> -->
                <h3 class="w3-bar-item" style="font-weight: 700;">Dashboard</h3>
                <a href="#" routerLink="doctors" class="w3-bar-item w3-button" style="color: white;">Doctor</a><br><br>
                <a href="#"routerLink="team" class="w3-bar-item w3-button" style="color: white;">Team</a><br><br>
                <a href="#"routerLink="department" class="w3-bar-item w3-button" style="color: white;">Department</a><br><br>
                <a href="#"routerLink="testimonials" class="w3-bar-item w3-button" style="color: white;">Testimonials</a><br><br>
                <a href="#" routerLink="facilities"class="w3-bar-item w3-button" style="color: white;">Facilities</a><br><br>
                <a href="#" routerLink="pricing"class="w3-bar-item w3-button" style="color: white;">Pricing</a><br><br>
                <a href="#"routerLink="gallary" class="w3-bar-item w3-button" style="color: white;">Gallary</a><br><br>
                <a href="#" routerLink="blogs" class="w3-bar-item w3-button" style="color: white;">Blogs</a><br><br>
                <a href="#" routerLink="review"class="w3-bar-item w3-button" style="color: white;">Review</a><br><br>
                <a href="#" routerLink="location"class="w3-bar-item w3-button" style="color: white;">Location</a>
                
            <!-- </div> -->
        </div>
    
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    </div>
