<section id="faq" class="faq section-bg" style="padding-left: 30px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title" style="text-align: center;">
        <h2>Frequently Asked Questioins</h2><hr>
        <p>The most respect profession comes with big responsibilities, taking care of us all! So, if our doctor is doing a good job he deserves our feed back. After our “good dentist reviews” we decided to make a list for Positive doctor review examples that you can write to your doctor and help him with his reputation..</p>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="com-md-4">

          <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

        <!-- <li>
          <a data-toggle="collapse" class="" href="#faq1"> Ask healthcare workers tell you what they plan to do before you consent to any procedure.? <i class="icofont-simple-up"></i></a>
          <div id="faq1" class="collapse show" data-parent=".faq-list">
            <p>
                Healthcare workers should tell you what they plan to do before any procedure. Also, you can remind healthcare workers who have direct contact to wash their hands. Handwashing is an important way to prevent the spread of infection..
            </p>
          </div>
        </li> -->

        <li>
          <a data-toggle="collapse" href="#faq2" class="collapsed">What brought you here today and why does it concern you? <i class="icofont-simple-up"></i></a>
          <div id="faq2" class="collapse" data-parent=".faq-list">
            <p>
                It’s important for your doctor(s) to not only know, specifically, the reason you made the appointment, but also why it’s a concern..
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="icofont-simple-up"></i></a>
          <div id="faq3" class="collapse" data-parent=".faq-list">
            <p>
              Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq4" class="collapsed">Do I have the story and details right? <i class="icofont-simple-up"></i></a>
          <div id="faq4" class="collapse" data-parent=".faq-list">
            <p>
                “I understand you haven’t been sleeping through the night and have pain in your lower back.” .
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="icofont-simple-up"></i></a>
          <div id="faq5" class="collapse" data-parent=".faq-list">
            <p>
              Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq6" class="collapsed">Does what I said make sense? <i class="icofont-simple-up"></i></a>
          <div id="faq6" class="collapse" data-parent=".faq-list">
            <p>
                In addition to understanding your needs, your doctor should prompt you to restate any new information or instructions you received during the visit. 
            </p>
          </div>
        </li>

      </ul></div>
      <div class="col-md-8">
        <img src="assets/images/about2.PNG" class="img-fluid" alt="" style="width: 300px;height: 200px;">
      </div>
    </div>
      </div>
    </div>
  </section>
