 <h1 style="text-align: center;">DOCTOR</h1>
 <p style="text-align: center;">Doctor is a academic title that originate from the latin word from the same spelling and.. Futher information: List of doctoer degree awarded by the country. Docter practive by country.and Docter of philosophyDegrees around the golbe.</p>
<div class="container" style="padding-top: 5%;">
    <div class="row">
        <!-- col-1 -->
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://www.pngitem.com/pimgs/m/9-92375_female-doctor-transparent-background-hd-png-download.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <!-- col-2 -->
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/doc1.PNG" alt="Card image" style="width:90%">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineering from last year</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <!-- col-3 -->
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://www.pngarts.com/files/3/Female-Doctor-Transparent-Images.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
