<section>
    <div class="container"style="height: auto;">
        
            
<img src="assets/images/home.PNG" alt=""style="  height: 620px;width: 100%;opacity: 70%;">
<div class="centered">
    <h1 style="text-decoration: solid;font-weight: 500;">HEALTH CARE FOR HOLE FAMILY</h1>
    <h4 style="text-decoration: solid;font-weight: 500;">In Health Care Sectoe services ecellence is the facility of the hospital as health care service provider to consistently</h4>
<button type ="submit">Read More</button>
</div>


   <!-- <h1 style="margin-top: 90px;">About Us</h1> -->
   <!-- <p>Various educators teach rules governing the length of paragraphs. They may say that a paragraph should be 100 to 200 words long, or be no more than five or six sentences. But a good paragraph should not be measured in characters, words, or sentences. The true measure of your paragraphs should be ideas.Your childhood teacher did not wrong you when they taught you that there should be three, or four, or five sentences in a paragraph. It is important to understand, however, that the aim in teaching this was not to impart a hard-and-fast rule of grammar, drawn from an authoritative-but-dusty book.</p> -->
  

</div>

</section>