<div class="container-fluid">
    <div class="row">
        <div class="col-md-1" style="padding-top: 100px;">
            <i class="fa fa-stethoscope" style="font-size:36px;color: blue;" ></i><br><br><br><br><br><br><br><br>
            <i class="fa fa-wheelchair" style="font-size:36px;color: blue;"></i><br><br><br><br><br><br><br><br><br>
            <i class="fa fa-plus-square" style="font-size:36px;color: blue;"></i>

        </div>
        <div class="col-md-2"style="padding-top: 100px;">
            <p style="text-decoration: solid;font-weight: 600;">Medical cheackup</p>
            <p style="font-size: 12px;">A Medical test is a performed to Detect</p><br><br><br><br><br>
            <p style="text-decoration: solid;font-weight: 600;">Nursing services</p>
            <p style="font-size: 12px;">Is the part of the total health organisarion</p><br><br><br><br><br>
            <p style="text-decoration: solid;font-weight: 600;">Pharmacy</p>
            <p style="font-size: 12px;">Pharmacy is a shop where the therapeutic drugs are sold</p>
        </div>
        <div class="col-md-1" style="padding-top: 100px;">
            <i class="fa fa-h-square" style="font-size:36px;color: blue"></i><br><br><br><br><br><br><br><br>
            <i class="fa fa-heartbeat" style="font-size:36px;color: blue"></i><br><br><br><br><br><br><br><br><br>
            <i class="fa fa-user-md" style="font-size:36px;color: blue"></i>

        </div>
        <div class="col-md-2"style="padding-top: 100px;">
            <p style="text-decoration: solid;font-weight: 600;">Gyn Care</p>
            <p style="font-size: 12px;">Gynecologic oncology is a specialized field</p><br><br><br><br><br>
            <p style="text-decoration: solid;font-weight: 600;">Neurology</p>
            <p style="font-size: 12px;">Neurology is a medical dignosis and tretment</p><br><br><br><br><br>
            <p style="text-decoration: solid;font-weight: 600;">Sleep Center</p>
            <p style="font-size: 12px;">Sleep is a naturally recurring state of mind and body </p>
        </div>
        <div class="col-md-6">
            <img src="https://www.pngarts.com/files/3/Female-Doctor-Transparent-Images.png" style="width: 100%;">
        </div>
    </div>
</div>